# General
target/
.idea/
tmp/

# Rust code
tf_jetsoncode/target
tf_jetsoncode/.idea
tf_jetsoncode/.cargo
tf_jetsoncode/.vscode


# Teensy code
teensy_code/.idea
teensy_code/target/
teensy_code/.pio

teensy_code/.vscode/
