[Unit]
Description=tf_jetsoncode Robot Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/robotik/tf_jetsoncode
ExecStart=/home/robotik/tf_jetsoncode/tf_jetsoncode

CPUSchedulingPolicy=rr
CPUSchedulingPriority=99
IOSchedulingClass=realtime
Nice=-20

Restart=always
RestartSec=2

# optional useful logging
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target